@let field = selectedField() ;

<aside>
  @if (selectedField()) {
    <div [formGroup]="propertiesForm">
      <h3>Properties</h3>

      <label>
        Label:
        <input formControlName="label" />
      </label>

      @if (field?.type === 'text' || field?.type === 'number') {
        <label>
          Placeholder:
          <input formControlName="placeholder" />
        </label>
      }

      <label>
        Required:
        <input type="checkbox" formControlName="required" />
      </label>

      @if (field?.type === 'select' || field?.type === 'radio') {
        <div>
          <h4>Options</h4>
          @for (option of field?.options; let i = $index; track i) {
            <div class="option-item">
              <input [value]="option" />
              <button type="button" (click)="removeOptionRequested.emit(i)">✕</button>
            </div>
          }
          <button type="button" (click)="addOptionRequested.emit()">Add Option</button>
        </div>
      }
    </div>
  }
</aside>
