<div class="form-builder-container">
  <div class="form-builder-header">
    <h1>{{ formBuilderService.pageTitle() }}</h1>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="saveForm()">
      <mat-icon>save</mat-icon>
      Save Form
    </button>
  </div>


  @if (formBuilderService.loading()) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
      <p>Loading form data...</p>
    </div>
  } @else {
    <div class="form-builder-content">
      <app-form-builder-sidebar [availableFields]="availableFields" />


      <app-form-builder-canvas
        [form]="form"
        [canvasFields]="formBuilderService.fields()"
        [selectedField]="formBuilderService.selected()"
        [componentMap]="componentMap"
        (fieldDropped)="onDrop($event)"
        (fieldSelected)="onSelectField($event)"
      ></app-form-builder-canvas>

      <app-form-builder-property-panel
        [selectedField]="formBuilderService.selected()"
        [allCanvasFields]="formBuilderService.fields()"
        (fieldChanged)="onFieldChange($event)"
      ></app-form-builder-property-panel>
    </div>
  }
</div>
