<div class="theme-editor-container" [formGroup]="themeForm()">
  <div class="section-title">
    <ng-icon name="lucidePalette"></ng-icon>
    <h4>Colors</h4>
  </div>
  <div class="theme-grid">
    <!-- Primary Color -->
    <div class="color-picker-wrapper">
      <label for="primaryColor">Primary</label>
      <input type="color" formControlName="primaryColor" />
    </div>
    <!-- Background Color -->
    <div class="color-picker-wrapper">
      <label for="backGroundColor">Background</label>
      <input type="color" formControlName="backgroundColor" />
    </div>
    <!-- Text Color -->
    <div class="color-picker-wrapper">
      <label for="textColor">Text</label>
      <input type="color" formControlName="textColor" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="section-title">
    <ng-icon name="lucideType"></ng-icon>
    <h4>Typography</h4>
  </div>
  <div class="form-field">
    <label class="form-field-label">Font Family</label>
    <select class="form-field-select" formControlName="fontFamily">
      @for (font of fontFamilies; track font.value) {
        <option [value]="font.value">{{ font.name }}</option>
      }
    </select>
  </div>

  <div class="divider"></div>

  <div class="section-title">
    <ng-icon name="lucideSquare"></ng-icon>
    <h4>Layout</h4>
  </div>
  <div class="form-field">
    <label class="form-field-label">Border Radius (px)</label>
    <input class="form-field-input" type="number" formControlName="borderRadius" />
  </div>
</div>
