<mat-card class="sidebar-card ff-card-full-height">
  <mat-card-header>
    <mat-card-title class="sidebar-title">
      <mat-icon>widgets</mat-icon>
      <span>Toolbox</span>
    </mat-card-title>
    <mat-card-subtitle>Drag fields to canvas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="sidebar-content">
    <div
      class="field-list"
      cdkDropList
      [cdkDropListData]="availableFields()"
      [cdkDropListConnectedTo]="['canvasDropList']"
    >
      @for (field of availableFields(); track field.type) {
        <div cdkDrag [cdkDragData]="field.type" class="field-item">
          <div class="field-item-icon">
            <mat-icon>{{ field.icon }}</mat-icon>
          </div>
          <span class="field-item-label">{{ field.label }}</span>
          <mat-icon class="drag-icon">drag_indicator</mat-icon>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
