<div [formGroup]="parentForm()" class="rules-editor-container">
  <h4>Rules</h4>
  <div formArrayName="rules">
    @for (ruleGroup of rulesFormArray().controls; let i = $index; track i) {
    <div class="rule-card" [formGroupName]="i">
      <div class="rule-header">
        <span class="rule-title">Rule #{{ i + 1 }}</span>
        <button
          type="button"
          class="icon-btn icon-btn--danger"
          (click)="removeRule(i)"
          title="Delete this rule"
        >
          <ng-icon name="lucideTrash2"></ng-icon>
        </button>
      </div>

      <div class="rule-body">
        <!-- Sekcija za USLOVE (CONDITIONS) -->
        <div class="conditions-section" formArrayName="conditions">
          <div class="section-header">
            <h6>IF...</h6>
            <button
              type="button"
              class="btn-stroked btn-stroked--sm"
              (click)="addCondition(i)"
            >
              <ng-icon name="lucidePlus"></ng-icon>
              AND
            </button>
          </div>
          @for (conditionGroup of $any(ruleGroup.get('conditions')).controls;
          let c_idx = $index; track c_idx) {
          <div class="condition-row" [formGroupName]="c_idx">
            <div class="form-field rule-field">
              <label for="fieldId" class="form-field-label">Field</label>
              <select class="form-field-select" formControlName="fieldId">
                @for (field of allFormFields(); track field.id) {
                <option [value]="field.id">{{ field.label }}</option>
                }
              </select>
            </div>

            <div class="form-field rule-operator">
              <label for="operator" class="form-field-label">Operator</label>
              <select class="form-field-select" formControlName="operator">
                @for (op of conditionOperators; track op) {
                <option [value]="op">{{ op }}</option>
                }
              </select>
            </div>

            <div class="form-field rule-field">
              <label for="value" class="form-field-label">Value</label>
              <input class="form-field-input" formControlName="value" />
            </div>

            <button
              type="button"
              class="icon-btn icon-btn--danger rule-remove-btn"
              (click)="removeCondition(i, c_idx)"
              title="Remove condition"
            >
              <ng-icon name="lucideMinusCircle"></ng-icon>
            </button>
          </div>
          }
        </div>

        <div class="divider"></div>

        <!-- Sekcija za AKCIJE (ACTIONS) -->
        <div class="actions-section" formArrayName="actions">
          <div class="section-header">
            <h6>THEN...</h6>
            <button
              type="button"
              class="btn-stroked btn-stroked--sm"
              (click)="addAction(i)"
            >
              <ng-icon name="lucidePlus"></ng-icon>
              Action
            </button>
          </div>
          @for (actionGroup of $any(ruleGroup.get('actions')).controls; let
          a_idx = $index; track a_idx) {
          <div class="action-row" [formGroupName]="a_idx">
            <div class="form-field rule-action-type">
              <label for="type" class="form-field-label">Action</label>
              <select class="form-field-select" formControlName="type">
                @for (action of actionTypes; track action) {
                <option [value]="action">{{ action }}</option>
                }
              </select>
            </div>

            <div class="form-field rule-field">
              <label for="targetFieldId" class="form-field-label"
                >Target Field</label
              >
              <select class="form-field-select" formControlName="targetFieldId">
                @for (field of allFormFields(); track field.id) {
                <option [value]="field.id">{{ field.label }}</option>
                }
              </select>
            </div>

            <button
              type="button"
              class="icon-btn icon-btn--danger rule-remove-btn"
              (click)="removeAction(i, a_idx)"
              title="Remove action"
            >
              <ng-icon name="lucideMinusCircle"></ng-icon>
            </button>
          </div>
          }
        </div>
      </div>
    </div>
    }
    <button type="button" class="add-rule-button" (click)="addRule()">
      <ng-icon name="lucidePlus"></ng-icon>
      Add New Rule
    </button>
  </div>
</div>
