<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>My Forms</h1>
    <div class="dashboard-header-actions">
      <button mat-stroked-button color="accent" (click)="generateFormFromText()">
        <mat-icon>auto_awesome</mat-icon>
        Create with AI
      </button>
      <button mat-raised-button color="primary" (click)="createNewForm()">
        <mat-icon>add</mat-icon>
        Create New Form
      </button>
    </div>

  </div>

  <mat-divider></mat-divider>

  @if (isLoading()) {
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
      <p>Loading forms...</p>
    </div>
  } @else {
    <div class="form-card-grid">
      @for (form of forms(); track form.id) {
        <mat-card class="form-card">
          <mat-card-header>
            <mat-card-title>{{ form.name }}</mat-card-title>
            <!-- <mat-card-subtitle>Created: {{ form.createdAt | date:'dd.MM.yyyy' }}</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content>
            <p>Total fields: <strong>{{ form.fields.length }}</strong></p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary" (click)="editForm(form.id)">EDIT</button>
            <a mat-button [routerLink]="['/submissions', form.id]">SUBMISSIONS</a>
            <button mat-icon-button matTooltip="Get embed code">
              <mat-icon>code</mat-icon>
            </button>
            <button mat-stroked-button color="warning" (click)="deleteForm(form.id, form.name)">DELETE</button>
          </mat-card-actions>
        </mat-card>
      } @empty {
        <div class="empty-state-container">

        </div>
      }
    </div>
  }
</div>
